@use "../custom" as *;

.location-boxes{
    .card-body{
        background-color: $dark-blue;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h5{
            color: white;
            text-transform: uppercase;
        }
        p{
            color: $header-color;
        }
    }
}