@use "../custom" as *;

.footer{
    background-color: $primary;
    height: 100%;
    padding:0 7rem;
    @include media-breakpoint-down(sm){
      padding: 0 3rem;
    }
    .oscar-title-footer{
      display: flex;
      align-items: start;
      h2{
        width:100%;
        margin: 30px 20px;
        color:white;
      }
    }
    .contact-services-footer{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-top: 1px solid white;
      @include media-breakpoint-down(sm){
        flex-direction: column;
        padding-left: 12px;
      }
      .contact-us-footer,
      .services-footer {
            flex: 1;
            text-align:start;
            margin: 10px;
          h4{
            font-size: 16px;
            color:white;
          }
          p{
            color:white;
          }
          ul{
            color: white;
            list-style-type: none;
            padding: 0;         
          }
      }
      .contact-us-footer:not(:last-child),
      .services-footer:not(:last-child) {
          border-right: 1px solid white;
          @include media-breakpoint-down(sm){
            border-right: 0;
          }
        }
    
    }
    .bottom-row-footer{
      p{
        font-size: 12px;
        color:white;
      }
      .socialIcons{
        margin-bottom: 3rem;
        color: white;
        @include media-breakpoint-down(sm){
            margin-bottom: 2px;
        }  
        i{
          font-size: 1.6rem;
        } 
        // .icons-menu-row{
        //   display:flex;
        //   .icons-div{

        //   }
        // }
      }
    }
  }
