@use "../custom" as *;

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

.outer1{
    margin-top: 50px;
    display: flex;
    @include media-breakpoint-down(md){
      flex-direction: column-reverse;
    }

    .inner1{
      margin: 1.5rem 1.5rem;
      padding: 1rem 1rem;
      .description-box-contact{
        padding: 0 3rem;
        a{
          text-decoration: none;
        }
        a:hover{
          color: $secondary;
          text-decoration: underline;
        }
      }
    }
    .inner1-contact{
      color: $dark-blue;
      .free-quote-form-section{
        button[type="submit"]{
          background-color: $dark-blue;
          color:white;
        }
      }
    }
    .inner2{
      display: flex;
      flex-direction: column;
      background-color: $dark-blue;
      color: white;
      height: auto;

      .inner2-pic{
        background-image: url("../../images/Oscar_AboutUs.jpg");
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/1;
        @include media-breakpoint-down(md){
          aspect-ratio: 1.1/1;
        }
      }
      .inner-text{
        display: flex;
        flex-direction: column;
      }
      .description-box-quotes{
        margin: 0 .5rem 2rem;
        background-color: $primary;
        font-size: 20px;
        @include media-breakpoint-down(lg){
          font-size: 16px;
          padding-left: 10px;
        }
        a{
          color:white;
          text-decoration: none;
        }
        i{
          color:red;
        }
      }
      h2{
        color:white;
      }
    }
}
.flex-map-container{
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;

  @include media-breakpoint-down(md){
    padding-bottom: 100%;
  }
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // background-color: $dark-blue;
    .row{
      background-color: rgba(0,0,0.5);
    }
    .card-inside{

      .card{
        border: none;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 20px;
        border-left: 1px solid $header-color;
        &:hover{
          h5{
            color: white;
          }
          i{
            color: white;
          }
          p{
            color:white;
          }
        }
        &:first-child {
          border-left: none;
        }
        &:not(:first-child) {
          border-left: 1px solid $header-color;
        }
        
        
    

        .card-body{
          background-color: rgba(0,0,0.5);
          color: $header-color;
          h5{
            @include media-breakpoint-down(sm){
              font-size: 16px;
              padding: 0 !important;
            }
            @media screen and (max-width: 300px) {
              font-size: 13px;
            }
          }
        }
      }
    }
    .carousel {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white; /* Example text color */
      z-index: 2; /* Ensure the carousel appears above the map */
  }
    .find-location{
      width: 100%;
      background-color: white;
      color: black;
      height: 100px;
    }
    
    @include media-breakpoint-down(lg){
      // flex-direction: column;
      align-items: center;
      .flex{
        p{
          display: none;
        }
      }
    }
    @include media-breakpoint-down(md){
      flex-direction: column;
    }
    .flex{
        background-color: $dark-blue;
        height: 100%;
        padding-top:5px;
        h4{
            margin-left: 20px;
            color: white;
        }
        p{
            margin-left: 20px;
            color: white;
            font-size: 14px;
        }
        .scrollspy-example{
          scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);
          height:300px;
          scrollbar-width: 50px;
          scrollbar-color: green;
          @include media-breakpoint-down(md){
            height:auto;
          }
          ::-webkit-scrollbar {
            width: 11px;
          }
          ::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
          }
          ::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG) ;
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
          }
          // span{
          //   margin-left:1.2rem;
          //   display: flex;
          //   flex-direction: row;
          //   p{
          //     font-size:12px;
          //   }
          // }
        }
    }
    
    
}

h2 {
  color: $primary;
}
body {
  margin: 0;
  padding: 0;
}


.map-link {
  border: none;
  transition: all 500ms ease;
  &:hover {
    background-color: $primary;
  }
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // @include media-breakpoint-up(lg) {
  //   width: 800px;
  // }
  @include media-breakpoint-down(md) {
    // height: 280px;
  }
}
.clickable-box {
  max-height: 150px;
  min-width:240px;
  display: block;
  padding: 2rem;
  // margin: 15px 0 0 0;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  h2{
    color: white;
  }
  @media screen and (max-width:800px) {
    min-width: 200px;
  }
}

.clickable-box:hover, .clickable-box:focus {
  background-color: #0056b3; /* Darker shade for hover/focus */
  outline: none; /* Removes outline for focused divs, add if needed for accessibility */
}

p.text-center {
  font-size: 20px; /* Adjust the font size as needed */
  line-height: 2; /* Adjust the line height as needed for better readability */
}
// .my-3{
//   @media screen and (max-width: 1100px){
//     .map{
//       iframe{
//         width: 250px;
//         aspect-ratio: 1/1;
//         @media screen and (max-width: 700px){
//           width: 400px;
//           aspect-ratio: 1/1;
//         }
//         @media screen and (max-width: 400px){
//           width: 280px;
//           aspect-ratio: 1/1;
//         }
//       }
//     }
//   }
  
  
// }
.my-3{
  .map{
    iframe{
      left:0;
      top:0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
.feedback{
  height: 300px;

  .feedback-boxes{
    width: 100%;
  }
}


