@use "../custom" as *;

.home-insurance{
    .home-insurance-section{
        background-color: white;
        margin-top:100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .top-image-container-commercial{
            display: flex;
            width: 90vw;
            height:300px;
            .image-box{
                width: 100%;
                height: 100%;
                background-image: url("../../images/Commercial.jpg");
                background-position:center;
                background-size: cover;
                @include media-breakpoint-up(xl){
                    background-position:  50% 30%;
                }
            }
        }
        .top-image-container-home{
            display: flex;
            width: 90vw;
            height:300px;
            .image-box{
                width: 100%;
                height: 100%;
                background-image: url("../../images/HomeInside.jpg");
                background-position: center;
                background-size: cover;
                @include media-breakpoint-down(sm){
                    background-size: cover;
                    background-position: left;
                }
                @include media-breakpoint-up(xl){
                    background-position:  45px top 90px ;
                }
            }         
        }
        .top-image-container-auto{
            display: flex;
            width: 90vw;
            height:300px;
            .image-box{
                width: 100%;
                height: 100%;
                background-image: url("../../images/CarAccident_top.jpg");
                background-position: center;
                background-size: cover;
                @include media-breakpoint-down(sm){
                    background-size: cover;
                    background-position: 55% 75%;
                }
                @include media-breakpoint-up(xl){
                    background-position: 50% ;
                }
            }        
        }
        .top-image-container-life{
            display: flex;
            width: 90vw;
            height:300px;
            .image-box{
                width: 100%;
                height: 100%;
                background-image: url("../../images/LifeInsurance-top.jpg");
                background-position: center;
                background-size: cover;
                @include media-breakpoint-down(sm){
                    background-size: cover;
                    background-position: 74% 75%;
                }
                @include media-breakpoint-up(xl){
                    background-position: 59% 15% ;
                }
            }        
        }

        .home-insurance-div{
            width: 90vw;

            .home-insurance-info-div{
                background-color: $dark-blue;
            }
            .home-insurance-info{
                display: flex;
                flex-direction: column;
                padding: 2rem 3rem;
                width: 100%;
                justify-content: center;
                align-items: center;
                h3{
                    text-align: center;
                    color:$secondary;
                    font-weight: 800;
                }
                h4{
                    color: white;
                    margin-bottom: 10px;
                    font-weight: 350;
                }
                p{
                    color: white;
                    text-align: center;
                }
                #insurance-number {
                    align-items: center;
                    // border: solid 3px $secondary;
                    color: $secondary;
                    margin-bottom: 2rem;
                    text-decoration: none;
                }
                #insurance-number:hover {
                    color: white;
                    // background-color: $secondary;
                    transition: background-color 0.9s ease, color 0.9s ease;
                    text-decoration: underline;
                }
                .contact-us{
                    background-color: $secondary;
                    color: white;
                }
                .contact-us:hover {
                    color: $secondary;
                    background-color: white;
                    transition: background-color 0.9s ease, color 0.9s ease;
                }
            }
            .emergency-coverage-div{
                background-color: white;
                display: flex;
                justify-content: space-between;
                margin-top: 5rem;
                @include media-breakpoint-down(md){
                    flex-direction: column;
                }
                .emergency-coverage{
                    // width: 48%;
                    h3{
                        color: $header-color;
                        font-weight: 800;
                    }
                    
                } 
                .emergency-coverage-img{
                    // width:48%;
                    width: 1200px;
                    @include media-breakpoint-down(md){
                        width: 100%
                    }
                }
                .emergency-coverage-img img{
                    width: 100%;
                }
            }
        }
    }
}