@use "../custom" as *;

.other-promos-section {
  margin: 5rem 0;
  @include media-breakpoint-down(md) {
    margin: 10rem 0;
  }
  .container{
    max-width: 2000px;
  }
  .three-div-parent {
    
    margin-top: 20px;
    height: 400px;
    margin-bottom: 20px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    .promo {
      background-image: url("../../images/PersonalQuote.jpg");
      background-size: cover;
      background-position: bottom center;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;

      .row {
        display: flex;
        
        @include media-breakpoint-down(sm) {
          flex-direction: row;
          .col-sm-6 {
            width: 50%;
          }
        }

        .dropdown {
          .dropdown-menu{
            background-color: white;
            .dropdown-item2{
              color: $dark-blue;
              text-decoration: none;
            }
            .dropdown-item2:hover {
                text-decoration: underline;
            }
          }
        }
      }
      .input-group-text {
        border-radius: 10px 0px 0px 10px;
      }
      h3 {
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        //background-color: rgba(255, 255, 255, 0.8);
        background: linear-gradient(90deg, rgba(54, 69, 79, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);

        border-radius: 10px;
        padding: 10px;
      }
    }
    #careers {
      background-image: url("../../images/careerPic.jpg");
      @media screen and (max-width: 767px) {
        background-position: 20px;
      }
      
      .flex-apply {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        a {
          border: solid 3px black;
          background-color: $primary;
          color: white;
        }
      }
    }
    #quotes {
      text-align: center;
      @include media-breakpoint-down(md) {
        background-position: center;
      }
      .btn {
        min-width: 100px;
        background-color: $primary;
        border: solid 3px black;
        color: white;
        font-size: clamp(12px, 1.5vw, 18px);
        padding: 5px 5px;
      }
      #overlay2 {
        // background-color: black;
        margin-top: -0.5rem;
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        // background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        @include media-breakpoint-down(md) {
          width: 50%;
        }
        .input-group {
          width: 15rem;
          display: flex;
          flex-direction: row;
          @include media-breakpoint-down(lg) {
            flex-direction: column;
          }
        }
        p {
          color: black;
          font-size: 18px;
          font-weight: 700;
        }
        a {
          align-items: flex-start;
          border: solid 3px $secondary;
          color: white;
        }
        a:hover {
          color: $dark-blue;
          background-color: $secondary;
          transition: background-color 0.9s ease, color 0.9s ease;
        }
      }
    }
    #coffee {
      background-image: url("../../images/coffee.jpg");
      background-position: center;
      a {
        border: solid 3px black;
        background-color: $primary;
        color: white;
      }
    }
  }
}
.contact-services-claims {
  .contact-wrapper {
    display: flex;
    /* filing a claim-------------------------*/
    .filing-a-claim {
      background: linear-gradient(to right, #08112a, #0e1941, #192b5a);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .filing-a-claim-div {
      width: 70%;
      text-align: center;
      @include media-breakpoint-down(sm){
        width: 80%;
      }
      p {
        color: white;
      }
      a {
        color: $header-color;
        text-decoration: none;
      }
      
      h2 {
        color: $header-color;
      }
    }
    .filing-a-claim-div a:hover {
      text-decoration: underline;
    }
  }
  //Serving el paso section---------------------------
  .contact-wrapper {
    display: flex;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
  .serving-ep {
    width: 100%;
  }
  .serving-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/elpaso.jpg");
    height: 100%;
    @include media-breakpoint-down(sm) {
      background-position: right;
      background-size: cover;
    }
    #overlay2 {
      padding: 0 5rem;
      top: 70px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      background-color: $overlay2;
      max-width: 80%;
      padding: 15px;
      a {
        align-items: center;
        border: solid 3px $secondary;
        color: $secondary;
      }
      a:hover {
        color: white;
        background-color: $secondary;
        transition: background-color 0.9s ease, color 0.9s ease;
      }
    }
    h2 {
      width: 100%;
      max-width: 400px;
      color: white;
    }
    p {
      text-align: center;
      color: white;
    }
    a {
      margin-bottom: 30px;
      border: $secondary;
    }
  }
   
}

.modal-header{
  background-color: $secondary;
  color: white;
}