@use "../custom" as *;

.sidebar-menu {
  // display: none;
  position: fixed;
  top: 0;
  right: -120%;
  width: 300px;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 200;
  transition: all 1s ease-out;
  display: flex;
  flex-direction: column;
  a {
    color: white;
    
  }
  // .col{
  //   flex-grow: 1;
  // }
  #menu-col {
    width: 100%;
  }
  #close{
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    top: 2;
    right: 0;
    color:white;

    font-size: 20px;
    cursor: pointer;
    @media  screen and (max-width: 523px) {
      padding-top: 30px;
    }
  }
  ul{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    li{
      width:80%;
    }
    #close-button{
      text-align: right;
    }
  }
}

.sidebar-menu.show {
  margin-top: 60px;
  right: 0;
}
