@use "../custom" as *;

.sidebar-menu {
  // display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 200;
  transition: opacity 1ms, right 1s ease-out;
  opacity: 0;

  a {
    color: white;
  }
  // .col{
  //   flex-grow: 1;
  // }
  #menu-col {
    width: 100%;
  }
  #close {
    color: white;
    font-size: 20px;
  }
  ul {
    width: 100%;

    li {
      width: 80%;
    }
    .close-button {
      text-align: right;
      cursor: pointer;
    }
  }
}

.sidebar-menu.show {
  right: 0;
  opacity: 1;
}

@keyframes close {
  0% {
    right: 0;
    opacity: 1;
  }
  80% {
    right: -100%;
    opacity: 1;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

.sidebar-menu.close {
  right: -100%;
  opacity: 1;
  animation: close 3s forwards;
}
